


	<!--<link type="text/css" href="style.css" rel="stylesheet">
	<link href="css/ui.css" rel="stylesheet" type="text/css" />
	<link href="css/login.css" rel="stylesheet" type="text/css" />
	<link href="css/formstyler/jquery.formstyler.css" rel="stylesheet" type="text/css" />-->
	
    <!--<link rel="stylesheet" href="assets/foundation/css/foundation.min.css" />
	<link rel="stylesheet" href="assets/foundation/css/foundation-icons.css" />
	<link rel="stylesheet" href="assets/css/premiumlogin.min.css" />   -->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
	<script src="/js/formstyler/jquery.formstyler.min.js" type="text/javascript"></script>-->
	<!--<script src="/js/functions.js" type="text/javascript"></script>-->





	<!-- левое меню --><div class="sidebar">
		<div id="side-body">
			<div class="logo-box-clapter">
				<a href="#" title="clapter">
					<img src="img/logo.png" alt="clapter">
					<div>АВТОМОБИЛЬНЫЙ ПОРТАЛ</div>
				</a>
			</div>
			
			<style>
			
			</style>
			<ul class="left-menu">
				<li>
					<a href="/index.php" title="">Поиск автозапчастей</a>
				</li>
				<li>
				    <a href="/catalog.php" title="">Каталоги</a>
			    </li>
				<li>
					<a href="/request_vin.php" title="">Запрос в автомагазины</a>
				</li>
				<li>
					<a href="/forms.php" title="">Запрос в автосервисы</a>
				</li>
				<li>
					<a href="/request_vin.php" title="">Запрос в разборки</a>
				</li>
				<li>
					<a href="/help.php" title="">Возможности системы</a>
				</li>
				<li>
					<a href="/feedback.php" title="">Обратная связь</a>
				</li>
				---
				<li>
					<a href="/blog/" title="">Блог</a>
				</li>
				<li>
					<a href="/forum/" title="">Форум</a>
				</li>
			</ul>

			<div class="logo-box-nikones">
				<img src="img/nikones.png" alt="Nikones Technology">
				<div>Сделано в <a href="#" title="Nikones Technology" target="_blank">Nikones Technology</a></div>
			</div>
		</div>
	</div> <!-- Конец левое меню -->




<!-- Тело --><div class="wrapper">
		
		<div class="head clear">
			<ul class="top-links-box right">
				<li>
					<div class="top-links grey registration">
						<a class="btn btn-link btn-block" data-reveal-id="login"><span>Разместить свои объявления</span></a>
					</div>
				</li>
				<li>
					<div class="top-links grey login">
						<a class="btn btn-link btn-block" data-reveal-id="login"><span>Опубликовать прайс-лист</span></a>
					</div>
				</li>
			</ul>
			
			<ul class="top-links-box left">
				<li>
					<div class="top-links purple document">
						<a class="btn btn-link btn-block" href="/request_vin.php"><span>Запрос запчастей по VIN коду</span></a>
					</div>
				</li>
				<li>
					<div class="top-links purple price">
						<a class="btn btn-link btn-block" href="/catalog.php"><span>Поиск запчастей по каталогу</span></a>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="body">
		
			<div style="padding:275px 0 0;"></div>
			
			<div class="search-box">
				<form method="get" action="serch_frm.php">
					<div class="textboxsearch">	
						<input id="search" class="search" type="text" name="search" value="" autocomplete="off" placeholder="Номер или наименование запчасти" required>
						<button id="btn-search" class="btn-search"><span>Найти</span></button>
					</div>
				
					<div class="filter-box">
						<input class="styler" id="MagBase" type="radio" name="filter" value="1" checked>
						<label class="filter-item" for="MagBase"><i></i>Поиск по базе магазинов</label>

						<input class="styler" id="RazBase" type="radio" name="filter" value="2">
						<label class="filter-item" for="RazBase"><i></i>Поиск по базе разборки</label>

						<input class="styler" id="UseBase" type="radio" name="filter" value="3">
						<label class="filter-item" for="UseBase"><i></i>Поиск по базе б/у</label>
						<!--<label class="filter-item">
							<input class="styler" type="radio" name="filter" value="4">
							Б/у
						</label>-->
						<script>
						;$(function(){
							$('input.styler').styler();
						});
						</script>
					</div>
				</form>
			</div>
			<div class="add-box clear">
				<div class="add-title"><span>Подать объявление</span></div>
				
				<div class="add-column-box clear">
					<div class="add-column">
						<a class="add-item" href="#" title="" onClick="_loginBlock();">Хочу продать</a>
						<i>Если вы хотите продать</i>
					</div>
					<div class="add-column">
						<a class="add-item" href="#" title="" onClick="_loginBlock();">Хочу купить</a>
						<i>Если вы ждете предложение</i>
					</div>
					<div class="add-column">
						<a class="add-item" href="/forms.php" title="">Требуются работы</a>
						<i>Оставьте заявку если вам  требуется ремонт или иные работы</i>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="column-box">
				<div class="column">
					<h3 class="blue"><a href="">Новости</a></h3>
					<ul>
						<li>
							<a href="#">Скидки на запчасти BMW</a>
						</li>
						<li>
							<a href="#">Новый раздел сайта</a>
						</li>
						<li>
							<a href="#">50% на амортизаторы Kayaba</a>
						</li>
					</ul>
				</div>
				<div class="column">
					<h3 class="green"><a href="">Информация о сайте</a></h3>
					<ul>
						<li>
							<a href="#">Размещение рекламы</a>
						</li>
						<li>
							<a href="#">Автосалонам</a>
						</li>
						<li>
							<a href="#">Информеры</a>
						</li>
						<li>
							<a href="#">Обратная связь</a>
						</li>
						<li>
							<a href="javascript:void(0)" onclick="agreement()">Пользовательское соглашение</a>
						</li>
						<li>
							<a href="#">Использование материалов сайта</a>
						</li> 
					</ul>
				</div>
				<div class="column">
					<h3 class="purple"><a href="">Разделы сайта</a></h3>
					<ul>
						<a href="#">
							<li>Поиск</li>
						</a>
						<li>
							<a href="#">Поиск автозапчастей</a>
						</li>
						<li>
							<a href="#">Поиск мотозапчастей</a>
						</li>
						<li>
							<a href="#">Запрос ремонта</a>
						</li>
						<li>
							<a href="#">Магазины запчастей</a>
						</li>
						<li>
							<a href="#">Как работать с сайтом</a>
						</li>
						<li>
							<a href="#">Контакты</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="bottom">
				<div class="copy">&copy; 2014 Clapter.ru</div>
				
				<ul class="soc">
					<li>
						<a class="fb" href="#" target="_blank" title="Facebook"></a>
					</li>
					<li>
						<a class="tw" href="#" target="_blank" title="Tweeter"></a>
					</li>
					<li>
						<a class="in" href="#" target="_blank" title="Linkedin"></a>
					</li>
				</ul>
			</div>
		</div>
		
	 
	</div><!-- Закрытое тело -->