<form id="form" action="/forms_add.php" method="post" enctype="multipart/form-data">
<div class="tabbable-panel">
    <div class="tabbable-line">
        <ul class="nav nav-tabs">
            <li id="tab1" class="active"><a href="#step1" data-toggle="tab">Автомобиль</a></li>
            <li id="tab2" class=""><a href="#step2" data-toggle="tab">Работы</a></li>
            <li id="tab3" class=""><a href="#step3" data-toggle="tab">Контакты</a></li>
            <li id="tab4" class=""><a href="#step4" data-toggle="tab">Отправка</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="step1">
                <div data-step="1" class="step-list" style="display:block;">
                    <div class="step-list-title clear">
                        <div class="info"><span>Информация</span> об Вашем автомобиле</div>
                        <div class="steps">Шаг 1 - 4</div>
                    </div>

                    <div class="step-list-inputs">

                        <!-- BRAND -->
                        <div class="item">
                            <label>Выберите марку</label>
                            <select id="_brand" class="dropdown-select" name="brand" data-input="Марка" data-important="false">
                                <option data-id="" value="" selected> - выбрать - </option>
                                <?php foreach ($_brands->data as $brand):?>
                                <option data-id="<?=$brand->link?>" value="<?=$brand->name?>"><?=$brand->name?></option>
                                <?php endforeach;?>
                            </select>
                            <div class="_error"></div>
                            <script>
                                ;$(function(){
                                    var A = {
                                        brands:{},
                                        html:function(data){
                                            //console.log(A.brands);
                                            var b = A.brands[A.brand] = data;
                                            var opt = '<option value="" selected> - выбрать -</option>';
                                            $(b.data).each(function(){
                                                opt += '<option value="'+b.dataname+' '+this.name+'">'+b.dataname+' '+this.name+'</option>';
                                            });
                                            A.select.html(opt);
                                        },
                                        init:function(){
                                            A.select = $('#_model');
                                            $(document).on('change', '#_brand', function(e){
                                                A.brand = $(this).find('option:selected').attr('data-id');

                                                // не работает проверка!!!
                                                if (A.brands[A.brand]) A.html(A.brands[A.brand]);
                                                $.post('/forms.php',{getModelsOfBrand:A.brand}, A.html, 'json');
                                            });
                                        }
                                    };
                                    A.init();
                                });
                            </script>
                        </div>

                        <!-- MODEL -->
                        <div class="item">
                            <label>Выберите модель</label>
                            <select id="_model" class="dropdown-select" name="model" data-input="Модель" data-important="true">
                                <option value="" selected> - выбрать - </option>
                            </select>
                            <div class="_error"></div>
                        </div>

                        <!-- YEAR -->
                        <div class="item">
                            <label>Год выпуска</label>
                            <select id="_year" class="dropdown-select" name="year" data-input="Год выпуска" data-important="false">
                                <option value="2014" selected>2014</option>
                                <?php for ($i = 2013; $i > 1976; $i--):?>
                                <option value="<?=$i?>"><?=$i?></option>
                                <?php endfor;?>
                            </select>
                            <div class="_error"></div>
                        </div>

                        <!-- DISPLACEMENT -->
                        <div class="item">
                            <label>Объём двигателя л.</label>
                            <select id="_displacement" class="dropdown-select" name="displacement" data-input="Объём двигателя" data-important="false">
                                <option value="0" selected> - выбрать - </option>
                                <?php for ($i = 0.5; $i < 7; $i+= 0.1):?>
                                <option value="<?=number_format($i, 1, '.', 0)?>"><?=number_format($i, 1, '.', 0)?></option>
                                <?php endfor;?>
                            </select>
                            <div class="_error"></div>
                        </div>

                        <!-- ENGINE -->
                        <div class="item">
                            <label>Тип двигателя</label>
                            <select id="_engine" class="dropdown-select" name="engine" data-input="Тип двигателя" data-important="true">
                                <option value="Бензин" selected>Бензин</option>
                                <option value="Дизель">Дизель</option>
                                <option value="Газ">Газ</option>
                                <option value="Электричество">Электричество</option>
                            </select>
                            <div class="_error"></div>
                        </div>
                    </div>
                </div><!-- STEP-LIST 1 -->
            </div>
            <div class="tab-pane" id="step2">
                <div data-step="2" class="step-list">
                    <div class="step-list-title clear">
                        <div class="info">Введите нужные Вам ремонтные работы</div>
                        <div class="steps">Шаг 2 - 4</div>
                    </div>

                    <div class="step-list-inputs">

                        <!-- WORK -->
                        <div class="item">
                            <label>Что необходимо отремонтировать?</label>
                            <input id="_work" class="dropdown-select" type="text" name="work" value="" data-input="Работы" data-important="true">
                            <div class="_error"></div>
                        </div>

                        <!-- FOTO -->
                        <div class="item">
                            <label>Загрузить изображение</label>
                            <table style="width:100%;background:#fff;border:1px solid #d2e0e3;border-radius:5px;">
                                <tr>
                                    <td id="_image">

                                    </td>
                                    <td class="right">
                                        <a class="bttn grey file-box" style="width:auto;" href="javascript:void(0)">
                                            выбрать изображение
                                            <input id="_image" class="file" type="file" name="image" value="">
                                        </a>
                                        <input type="hidden" name="MAX_FILE_SIZE" value="1000000">
                                        <script>
                                            ;$(function(){
                                                if ( ! window.File && ! window.FileReader && ! window.FileList && ! window.Blob) return;
                                                $(document).on('change','#_image',function(e){
                                                    var reader = new FileReader;
                                                    reader.onload = function(e){
                                                        var img = new Image;
                                                        img.onload = function(){
                                                            $('#_image').html($(img).css({width:'100%'}));
                                                        }
                                                        img.src = e.target.result;
                                                    }
                                                    reader.readAsDataURL(this.files[0]);
                                                });
                                            });
                                        </script>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <!-- AUTO-SERVICE -->
                        <div class="item">
                            <label>Автосервисы</label>
                            <select id="_service" class="dropdown-select" name="service" data-input="Автосервисы" data-important="false">
                                <option value="1" selected>Специализированные автосервисы</option>
                                <option value="2">Автосервисы гаражного типа</option>
                                <option value="3">Независимые автосервисы</option>
                                <option value="4">Дилерские автосервисы</option>
                            </select>
                            <div class="_error"></div>
                        </div>

                        <!-- DATE -->
                        <div class="item">
                            <label>Желаемое время исполнения</label>
                            <input id="_date" class="dropdown-select" type="text" name="date" value="" data-input="Время исполнения" data-important="false">
                            <script>
                                ;$(function(){$('#_date').datepicker({minDate: 0})});
                            </script>
                        </div>
                    </div>
                </div><!-- STEP-LIST 2 -->
            </div>
            <div class="tab-pane" id="step3">
                <div data-step="3" class="step-list">
                    <div class="step-list-title clear">
                        <div class="info">Ваша контактная информация</div>
                        <div class="steps">Шаг 3 - 4</div>
                    </div>

                    <div class="step-list-inputs">

                        <!-- NAME -->
                        <div class="item">
                            <table style="width:100%;">
                                <tr>
                                    <td style="padding:0 5px 0 0;">
                                        <label>Имя</label>
                                        <input id="_name" class="dropdown-select" type="text" name="name" value="" placeholder="Иван" data-input="Ваше имя" data-important="true">
                                        <div class="_error"></div>
                                    </td>
                                    <td style="padding:0 0 0 5px;">
                                        <label>Фамилия</label>
                                        <input id="_lastname" class="dropdown-select" type="text" name="lastname" value="" placeholder="Иванов">
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <!-- EMAIL -->
                        <div class="item">
                            <label>e-mail</label>
                            <input id="_email" class="dropdown-select" type="text" name="email" value="" placeholder="ivan.ivanov@domen.ru" data-input="e-mail" data-important="false">
                            <div class="_error"></div>
                        </div>

                        <!-- PHONE -->
                        <div class="item">
                            <label>Телефон</label>
                            <input id="_phone" class="dropdown-select" type="text" name="phone" value="" placeholder="+7 916 440 3636" data-input="Телефон" data-important="false">
                            <div style="font-size:12px;">Ваш телефон автосервисы увидят только когда вы примите от них предложение</div>
                            <div class="_error"></div>
                        </div>

                        <!-- ZIP STATE -->
                        <div class="item">
                            <table style="width:100%;">
                                <tr>
                                    <td style="padding:0 5px 0 0;">
                                        <label>Индекс</label>
                                        <input id="_zip" class="dropdown-select" type="text" name="zip-code" value="" placeholder="193115" data-input="Индекс" data-important="false">
                                        <div class="_error"></div>
                                    </td>
                                    <td style="padding:0 0 0 5px;">
                                        <label>Выберите регион</label>
                                        <select id="_state" class="dropdown-select" name="state" data-input="Регион" data-important="true">
                                            <option value="2311_Москва и Московская область" selected>Москва и Московская область</option>
                                            <option value="2312_Санкт-Петербург и Ленингр. область">Санкт-Петербург и Ленингр. область</option>
                                            <option value="2313_Адыгея">Адыгея</option>
                                            <option value="2314_Алтайский край">Алтайский край</option>
                                            <option value="2315_Амурская область">Амурская область</option>
                                            <option value="2316_Архангельская область">Архангельская область</option>
                                            <option value="2317_Астраханская область">Астраханская область</option>
                                            <option value="2318_Башкортостан">Башкортостан</option>
                                            <option value="2319_Белгородская область">Белгородская область</option>
                                            <option value="2320_Брянская область">Брянская область</option>
                                            <option value="2321_Бурятия">Бурятия</option>
                                            <option value="2322_Владимирская область">Владимирская область</option>
                                            <option value="2323_Волгоградская область">Волгоградская область</option>
                                            <option value="2324_Вологодская область">Вологодская область</option>
                                            <option value="2325_Воронежская область">Воронежская область</option>
                                            <option value="2326_Дагестан">Дагестан</option>
                                            <option value="2327_Еврейская АО">Еврейская АО</option>
                                            <option value="2328_Забайкальский край">Забайкальский край</option>
                                            <option value="2329_Ивановская область">Ивановская область</option>
                                            <option value="2330_Ингушетия">Ингушетия</option>
                                            <option value="2331_Иркутская область">Иркутская область</option>
                                            <option value="2332_Кабардино-Балкария">Кабардино-Балкария</option>
                                            <option value="2333_Калининградская область">Калининградская область</option>
                                            <option value="2334_Калмыкия">Калмыкия</option>
                                            <option value="2335_Калужская область">Калужская область</option>
                                            <option value="2336_Камчатский край">Камчатский край</option>
                                            <option value="2337_Карачаево-Черкесия">Карачаево-Черкесия</option>
                                            <option value="2338_Карелия">Карелия</option>
                                            <option value="2339_Кемеровская область">Кемеровская область</option>
                                            <option value="2340_Кировская область">Кировская область</option>
                                            <option value="2341_Коми">Коми</option>
                                            <option value="2342_Костромская область">Костромская область</option>
                                            <option value="2343_Краснодарский край">Краснодарский край</option>
                                            <option value="2344_Красноярский край">Красноярский край</option>
                                            <option value="2345_Курганская область">Курганская область</option>
                                            <option value="2346_Курская область">Курская область</option>
                                            <option value="2347_Липецкая область">Липецкая область</option>
                                            <option value="2348_Магаданская область">Магаданская область</option>
                                            <option value="2349_Марий Эл">Марий Эл</option>
                                            <option value="2350_Мордовия">Мордовия</option>
                                            <option value="2351_Мурманская область">Мурманская область</option>
                                            <option value="2352_Ненецкий АО">Ненецкий АО</option>
                                            <option value="2353_Нижегородская область">Нижегородская область</option>
                                            <option value="2354_Новгородская область">Новгородская область</option>
                                            <option value="2355_Новосибирская область">Новосибирская область</option>
                                            <option value="2356_Омская область">Омская область</option>
                                            <option value="2357_Оренбургская область">Оренбургская область</option>
                                            <option value="2358_Орловская область">Орловская область</option>
                                            <option value="2359_Пензенская область">Пензенская область</option>
                                            <option value="2360_Пермский край">Пермский край</option>
                                            <option value="2361_Приморский край">Приморский край</option>
                                            <option value="2362_Псковская область">Псковская область</option>
                                            <option value="2363_Республика Алтай">Республика Алтай</option>
                                            <option value="68997_Республика Крым">Республика Крым</option>
                                            <option value="2364_Ростовская область">Ростовская область</option>
                                            <option value="2365_Рязанская область">Рязанская область</option>
                                            <option value="2366_Самарская область">Самарская область</option>
                                            <option value="2367_Саратовская область">Саратовская область</option>
                                            <option value="2369_Саха (Якутия)">Саха (Якутия)</option>
                                            <option value="2368_Сахалинская область">Сахалинская область</option>
                                            <option value="2370_Свердловская область">Свердловская область</option>
                                            <option value="2371_Северная Осетия">Северная Осетия</option>
                                            <option value="2372_Смоленская область">Смоленская область</option>
                                            <option value="2373_Ставропольский край">Ставропольский край</option>
                                            <option value="2374_Тамбовская область">Тамбовская область</option>
                                            <option value="2375_Татарстан">Татарстан</option>
                                            <option value="2376_Тверская область">Тверская область</option>
                                            <option value="2377_Томская область">Томская область</option>
                                            <option value="2378_Тульская область">Тульская область</option>
                                            <option value="2379_Тыва">Тыва</option>
                                            <option value="2380_Тюменская область">Тюменская область</option>
                                            <option value="2381_Удмуртия">Удмуртия</option>
                                            <option value="2382_Ульяновская область">Ульяновская область</option>
                                            <option value="2383_Хабаровский край">Хабаровский край</option>
                                            <option value="2384_Хакасия">Хакасия</option>
                                            <option value="2385_Ханты-Мансийский АО">Ханты-Мансийский АО</option>
                                            <option value="2386_Челябинская область">Челябинская область</option>
                                            <option value="2387_Чеченская республика">Чеченская республика</option>
                                            <option value="2388_Чувашия">Чувашия</option>
                                            <option value="2389_Чукотский АО">Чукотский АО</option>
                                            <option value="2390_Ямало-Ненецкий АО">Ямало-Ненецкий АО</option>
                                            <option value="2391_Ярославская область">Ярославская область</option>
                                        </select>
                                        <div class="_error"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div><!-- STEP-LIST 3 -->
            </div>
            <div class="tab-pane" id="step4">
                <div data-step="4" class="step-list">
                    <div class="step-list-title clear">
                        <div class="info">Проверьте вашу введенную информацию и нажми кнопку отправить</div>
                        <div class="steps">Шаг 4 - 4</div>
                    </div>

                    <div class="step-list-inputs">
                        <div id="form-result" class="form-result"></div>
                    </div>
                </div><!-- STEP-LIST 4 -->
            </div>
        </div>
    </div>
</div>
<script>
    ;$(function(){
        var A = {
            step:0,
            valid:function(){
                /* проверка заполнение полей*/
                $('._error').html('');
                var r = true;
                $('div[data-step='+(A.step+1)+']').find('select, input').each(function(){
                    if ($(this).attr('data-important') == 'true'){
                        if ( ! $.trim($(this).val())){
                            r = false;
                            $(this).siblings('._error').html('необходимо заполнить');
                        }
                    }
                });

                return r;
            },
            next:function(e){
                if (A.valid()){
                    A.step++;
                    A.toggle();
                }
            },
            prev:function(e){
                A.step--;
                A.toggle();
            },
            final:function(){
                var el = $('#form').get(0).elements;
                var html = '<table>';
                for (var i in el){
                    if (typeof el[i] == 'object' && $(el[i]).attr('data-input')) {
                        html += '<tr><td style="color:#a0aeb2;">'+$(el[i]).attr('data-input')+'</td><td>'+$(el[i]).val()+'</td></tr>';
                    }
                }
                html += '</table>';
                $('#form-result').html(html);
            },
            toggle:function(){
                /* STEP не меньше (0) и не больше (A.lists.length-1)*/
                A.step = A.step > A.lists.length-1 ? A.lists.length-1 : (A.step < 0 ? 0 : A.step);

                if (A.step == 3) A.final();

                // скрываем все
                A.btnPrev.css({display:'none'});
                A.btnNext.css({display:'none'});
                A.btnSubm.css({display:'none'});
                // какие кнопки отоброжать
                if (A.step == 0){
                    A.btnNext.css({display:'block'});
                }else if (A.step == A.lists.length-1){
                    A.btnPrev.css({display:'block'});
                    A.btnSubm.css({display:'block'});
                }else{
                    A.btnPrev.css({display:'block'});
                    A.btnNext.css({display:'block'});
                }

                /* какую картинку показывать*/
                A.map.removeClass('current').removeClass('success');
                /* текущий*/
                A.map.eq(A.step).addClass('current');
                /* пройдено*/
                for (var i = A.step; i > 0; i--){
                    A.map.eq(i-1).addClass('success');
                }

                A.lists.css({display:'none'});
                A.lists.eq(A.step).css({display:'block'});
            },
            init:function(){
                /*/ ELEMENTS*/
                A.lists = $('div[data-step]');
                A.map = $('div[data-step-map]');
                A.btnPrev = $('#_prev');
                A.btnNext = $('#_next');
                A.btnSubm = $('#_subm');

                /*/ EVENTS*/
                $(document).on('click', '#_prev', A.prev);
                $(document).on('click', '#_next', A.next);
                $(document).on('submit','#form',function(e){
                    //return false;
                });
                /*/ запретить submit для input[type-text]*/
                $(document).on('keypress', '#form input[type=text]', function(e){
                    if (e.keyCode == 13) return false;
                });
            }
        }
        A.init();
    });
</script>
</form>
