{% extends "layout/layout.html.twig" %}

{% block content %}
<div id="content">
    <section>
        <div class="section-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-head">
                            <header>Мои запросы</header>
                        </div>
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <div class="btn-group pull-right" data-position="toast-top-right">
                                    <button id="newzaprosbtn" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Новый запрос</button>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#first1" data-toggle="tab">Запчасти</a></li>
                                    <li class=""><a href="#second1" data-toggle="tab">Работы</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="first1">
                                        {{ result_tab1 | raw }}
                                    </div>
                                    <div class="tab-pane" id="second1">
                                        {{ result_tab2 | raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Новый запрос</h4>
            </div>
            <div class="modal-body">
                {% include('embed/formzapros.html.twig') %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Назад</button>
                <button type="button" class="btn btn-primary">Следующий шаг</button>
                <button type="button" class="btn btn-default">Отправить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block lastblock %}
    {{ parent() }}
    <script type="text/javascript">
        function setTabActive(num) {
            $('#tab'+num).find('a').click();
        }

        $(document).ready(function() {
            $('#newzaprosbtn').on('click', function() {
                setTabActive(1);
            })
        });
    </script>
{% endblock %}