{% extends "layout/layout.html.twig" %}
{% block content %}
    {% if loggedin.isAdmin() %}
        {% include("workspace/admin.html.twig") %}
    {% else %}
        {% if loggedin.Get('user_role') == constant('CLUserRole::U_BUYER') %}
            {% include("workspace/buyer.html.twig") %}
        {% endif %}
        {% if loggedin.Get('user_role') == constant('CLUserRole::U_SELLER') %}
            {% include("workspace/seller.html.twig") %}
        {% endif %}
        {% if loggedin.Get('user_role') == constant('CLUserRole::U_COMPANY') %}
            {% include("workspace/company.html.twig") %}
        {% endif %}
    {% endif %}
{% endblock %}
