{% extends "layout/layout.html.twig" %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
<link type="text/css" rel="stylesheet" href="../../static/css/lk/bootstrap.css?12042015119" />
<link type="text/css" rel="stylesheet" href="../../static/css/lk/packed.css?12042015119" />
<link type="text/css" rel="stylesheet" href="../../static/css/lk/font-awesome.min.css?12042015119" />
<link type="text/css" rel="stylesheet" href="../../static/css/lk/material-design-iconic-font.min.css?12042015119" />
<link type="text/css" rel="stylesheet" href="../../static/css/lk/libs/rickshaw/rickshaw.css?12042015119" />
<link type="text/css" rel="stylesheet" href="../../static/css/lk/libs/morris/morris.core.css?12042015119" />
<link type="text/css" rel="stylesheet" href="../../static/css/lk/libs/wizard/wizard.css?1425466601" />
<link type="text/css" rel="stylesheet" href="../../static/css/lk/libs/dropzone/dropzone-theme.css?1424887864" />

    <div id="base">
        <div class="offcanvas">
        </div>
        <div id="content">
            <section>
                <div class="section-header">
                    <ol class="breadcrumb">
                        <li><a href="../../html/company/desktop.html">Рабочий стол</a></li>
                        <li><a href="../../html/company/myprice-list.html">Прайс-листы</a></li>
                        <li class="active">Создание прайс-листа</li>
                    </ol>
                </div>
                <div class="section-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">


                                    <div id="rootwizard1" class="form-wizard form-wizard-horizontal">
                                        <form class="form floating-label">
                                            <div class="form-wizard-nav">
                                                <div class="progress"><div class="progress-bar progress-bar-primary"></div></div>
                                                <ul class="nav nav-justified">
                                                    <li class="active"><a href="#tab1" data-toggle="tab"><span class="step">1</span> <span class="title">Настройка прайс-листа</span></a></li>
                                                    <li><a href="#tab2" data-toggle="tab"><span class="step">2</span> <span class="title">Загрузка файла</span></a></li>
                                                    <li><a href="#tab3" data-toggle="tab"><span class="step">3</span> <span class="title">Назначьте тип колонкам</span></a></li>
                                                    <li><a href="#tab4" data-toggle="tab"><span class="step">4</span> <span class="title">Публикация</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="tab-content clearfix">
                                                <div class="tab-pane active" id="tab1">
                                                    <br/>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <form class="form" role="form">
                                                                        <div class="form-group floating-label">
                                                                            <input type="text" class="form-control" id="placeholder2">
                                                                            <label for="placeholder2">Название прайс-листа</label>
                                                                        </div>
                                                                        <div class="form-group floating-label">
                                                                            <textarea name="textarea2" id="textarea2" class="form-control" rows="3" placeholder=""></textarea>
                                                                            <label for="textarea2">Описание</label>
                                                                        </div>
                                                                        <div class="form-group floating-label">
                                                                            <select id="select2" name="select2" class="form-control">
                                                                                <option value="10">Активен</option>
                                                                                <option value="30">Неактивен</option>
                                                                            </select>
                                                                            <label for="select2">Статус</label>
                                                                        </div>


                                                                        <div class="card">
                                                                            <div class="card-body">
                                                                                <form class="form">
                                                                                    <div class="form-group floating-label">

                                                                                        <select id="select2" name="select2" class="form-control">
                                                                                            <option value="10">Руб.</option>
                                                                                            <option value="30">$</option>
                                                                                            <option value="50">Euro</option>
                                                                                        </select>
                                                                                        <label for="select2">Валюта прайса-листа</label>

                                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        <div class="checkbox checkbox-styled">
                                                                                            <label>
                                                                                                <input type="checkbox" value="">
                                                                                                <span>Конвертировать по курсу ЦБ РФ</span>
                                                                                            </label>
                                                                                        </div>
                                                                                        <div class="checkbox checkbox-styled">
                                                                                            <label>
                                                                                                <input type="checkbox" value="">
                                                                                                <span>Фиксированный курс</span>
                                                                                            </label>
                                                                                        </div>

                                                                                    </div>

                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="radio radio-styled">
                                                                                <label>
                                                                                    <input type="radio" name="optionsRadios" value="option1" checked>
                                                                                    <span>Прайс-лист только для юридических лиц и ИП</span>
                                                                                </label>
                                                                            </div>
                                                                            <div class="radio radio-styled">
                                                                                <label>
                                                                                    <input type="radio" name="optionsRadios" value="option1">
                                                                                    <span>Прайс-лист для всех пользователей</span>
                                                                                </label>
                                                                            </div>
                                                                        </div>


                                                                    </form>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <h3>Способ загрузки</h3>
                                                                    <div class="form-group">

                                                                        <div class="checkbox checkbox-styled">
                                                                            <label>
                                                                                <input type="checkbox" value="">
                                                                                <span>Из файла или вручную</span>
                                                                            </label>
                                                                        </div>
                                                                        <p>Вы можете загрузить прайс-лист в формате Excel или CSV, файлы могут быть в архиве ZIP или RAR. Или же просто создайте пустой прайс-лист и наполните его товарами прямо в интерфейсе нашей системы.</p>
                                                                        <div class="checkbox checkbox-styled">
                                                                            <label>
                                                                                <input type="checkbox" value="">
                                                                                <span>Email</span>
                                                                            </label>
                                                                        </div>
                                                                        <form class="form">
                                                                            <div class="form-group">
                                                                                <input type="text" class="form-control" id="regular1">
                                                                                <label for="regular1">Email-адрес отправителя прайс-листа</label>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Отправьте прайс-лист на адрес для обновления позиций</label>
                                                                                <p class="form-control-static">upload+P6AcZnn8@clapter.ru</p>
                                                                            </div>
                                                                        </form>

                                                                        <div class="checkbox checkbox-styled">
                                                                            <label>
                                                                                <input type="checkbox" value="">
                                                                                <span>FTP</span>
                                                                                <p>Автоматическое обновление прайс-листа с FTP-сервера.</p>
                                                                            </label>


                                                                        </div>


                                                                        <form class="form">
                                                                            <div class="form-group">
                                                                                <input type="text" class="form-control" id="regular1">
                                                                                <label for="regular1">Адрес</label>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <input type="text" class="form-control" id="placeholder1">
                                                                                <label for="placeholder1">Логин</label>
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <input type="password" class="form-control" id="password1">
                                                                                <label for="password1">Пароль</label>
                                                                            </div>
                                                                        </form>



                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tab-pane" id="tab2">
                                                    <br/>


                                                    <div class="card">
                                                        <div class="card-head style-primary">
                                                            <header>Выберите файл для загрузки</header>
                                                        </div>
                                                        <div class="card-body no-padding">
                                                            <form action="../../html/forms/advanced.html" class="dropzone" id="my-awesome-dropzone">
                                                                <div class="dz-message">
                                                                    <h3>...или перетащите его в браузер</h3>
                                                                    <em>Скачать пример файла с данными вы можете по ссылке: скачать пример</em>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>



                                                </div>
                                                <div class="tab-pane" id="tab3">
                                                    <br/>


                                                    <div class="alert alert-info" role="alert">
                                                        Мы автоматически попытались определить тип полей в вашем прайс-листе.
                                                        Были найдены следующие значения: <b>Наименование</b>, <b>Производитель</b>, <b>Код внутренний</b>, <b>Цена,</b> <b>Наличие</b>.</br>
                                                        Пожалуйста, проверьте настройки и откорректируйте их при необходимости.
                                                    </div>






                                                    <div class="card-head">
                                                        <ul class="nav nav-tabs" data-toggle="tabs">
                                                            <li class="active"><a href="#first1">Лист 1</a></li>
                                                            <li><a href="#second1">Лист 2</a></li>
                                                            <li><a href="#third1">Лист 3</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="card-body tab-content">
                                                        <div class="tab-pane active" id="first1">

                                                            <table class="table no-margin">

                                                                <thead>
                                                                <tr>
                                                                    <th ><a >#</a></th>
                                                                    <th><button type="button" class="btn btn-block ink-reaction btn-info" data-toggle="modal" data-target="#textModal">Производитель</button></th>
                                                                    <th><button type="button" class="btn btn-block ink-reaction btn-info" data-toggle="modal" data-target="#textModal">Артикул</button></th>
                                                                    <th><button type="button" class="btn btn-block ink-reaction btn-info" data-toggle="modal" data-target="#textModal">Описание</button></th>
                                                                    <th><button type="button" class="btn btn-block ink-reaction btn-info" data-toggle="modal" data-target="#textModal">Остаток</button></th>
                                                                    <th><button type="button" class="btn btn-block ink-reaction btn-info" data-toggle="modal" data-target="#textModal">Поставка</button></th>
                                                                    <th><button type="button" class="btn btn-block ink-reaction btn-info" data-toggle="modal" data-target="#textModal">Цена</button></th>
                                                                </tr>
                                                                </thead>
                                                                <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Производитель</th>
                                                                    <th>Артикул</th>
                                                                    <th>Описание</th>
                                                                    <th>Остаток</th>
                                                                    <th>Поставка</th>
                                                                    <th>Цена</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>Zimmermann</td>
                                                                    <td>430148900</td>
                                                                    <td>торм.диск.зад. OPEL CORSA-C, TIGRA B [10,0-240] 98~</td>
                                                                    <td>4</td>
                                                                    <td>2 дня</td>
                                                                    <td>627,90 руб.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2</td>
                                                                    <td>Zimmermann</td>
                                                                    <td>430148900</td>
                                                                    <td>торм.диск.зад. OPEL CORSA-C, TIGRA B [10,0-240] 98~</td>
                                                                    <td>4</td>
                                                                    <td>2 дня</td>
                                                                    <td>627,90 руб.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>3</td>
                                                                    <td>Zimmermann</td>
                                                                    <td>430148900</td>
                                                                    <td>торм.диск.зад. OPEL CORSA-C, TIGRA B [10,0-240] 98~</td>
                                                                    <td>4</td>
                                                                    <td>2 дня</td>
                                                                    <td>627,90 руб.</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>




                                                        </div>
                                                        <div class="tab-pane" id="second1"><p></p>
                                                        </div>
                                                        <div class="tab-pane" id="third1"><p></p>
                                                            <p></p>
                                                        </div>
                                                    </div>




                                                </div>
                                                <div class="tab-pane" id="tab4">
                                                    <br/><br/>
                                                    <p>???</p>
                                                </div>
                                            </div>
                                            <ul class="pager wizard">
                                                <li class="previous first"><a class="btn-raised" href="javascript:void(0);">Вернуться в начало</a></li>
                                                <li class="previous"><a class="btn-raised" href="javascript:void(0);">Предыдущий шаг</a></li>
                                                <li class="next"><a class="btn-raised" href="javascript:void(0);">Следующий шаг</a></li>
                                            </ul>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="textModalLabel">Окно выбора полей загрузки</h4>
                    </div>
                    <div class="modal-body">
                        <div class="card tabs-left style-default-light">
                            <ul class="card-head nav nav-tabs" data-toggle="tabs">
                                <li class="active"><a href="#first5">Запчасти</a></li>
                                <li ><a href="#second5">Диски</a></li>
                                <li><a href="#third5">Шины</a></li>
                            </ul>
                            <div class="card-body tab-content style-default-bright">
                                <div class="tab-pane active" id="first5">

                                    <div class="text-columns-lg">
                                        <a href="">Наименование</a><i class="md md-done"></i><br />
                                        <a href="">Производитель</a><i class="md md-done"></i><br />
                                        <a href="">Артикул</a><i class="md md-done"></i><br />
                                        <a href="">EAN</a><br />
                                        <a href="">Вес</a><br />
                                        <a href="">Группы</a><br />
                                        <a href="">Свойства</a><i class="md md-done"></i><br />
                                        <a href="">Код внутренний</a><br />
                                        <a href="">Цена</a><i class="md md-done"></i><br />
                                        <a href="">Наличие</a><br />
                                        <a href="">Ед. изм.</a><br />
                                        <a href="">Срок доставки</a><i class="md md-done"></i><br />
                                        <a href="">Страна</a><br />
                                        <a href="">Изображение</a>


                                    </div>


                                </div>
                                <div class="tab-pane" id="second5">
                                    <h1>???</h1>
                                    <p class="lead">???</p>
                                    <p>???</p>
                                </div>
                                <div class="tab-pane" id="third5"><p>???</p>
                                    <p>???</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default">Отменить</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">ОК</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="menubar" class="menubar-inverse ">
            <div class="menubar-fixed-panel">
                <div>
                    <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="expanded">
                    <a href="">
                        <span class="text-lg text-bold text-primary ">Панель управления - Магазин</span>
                    </a>
                </div>
            </div>
            <div class="menubar-scroll-panel">
                <ul id="main-menu" class="gui-controls">
                    <li>
                        <a href="../../html/company/desktop.html">
                            <div class="gui-icon"><i class="md md-home"></i></div>
                            <span class="title">Рабочий стол</span>
                        </a>
                    </li>
                    <li class="gui-folder" >
                        <a class="active">
                            <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                            <span class="title">Публикации</span>
                        </a>

                        <ul>
                            <li><a href="../../html/company/myprice-list.html" class="active"><span class="title">Прайс-листы</span></a></li>
                            <li><a href="../../html/company/myads.html"><span class="title">Объявления</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../../html/company/mybrands.html">
                            <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                            <span class="title">Бренды</span>
                        </a>
                    </li>
                    <li>
                        <a href="../../html/company/myservices.html">
                            <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                            <span class="title">Мои услуги</span>
                        </a>
                    </li>
                    <li>
                        <a href="../../html/company/statistics.html">
                            <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                            <span class="title">Статистика</span>
                        </a>
                    </li>
                    <li>
                        <a href="../../html/company/reviews.html">
                            <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                            <span class="title">Отзывы</span>
                        </a>
                    </li>
                    <li class="gui-folder">
                        <a>
                            <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                            <span class="title">Документооборот</span>
                        </a>
                        <ul>
                            <li><a href="../../html/company/doc_list-invoice.html"><span class="title">Счета</span></a></li>
                            <li><a href="../../html/company/doc_list_Act.html"><span class="title">Акты</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../../html/company/tickets.html">
                            <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                            <span class="title">Поддержка</span>
                        </a>
                    </li>
                </ul>
                <div class="menubar-foot-panel">
                    <small class="no-linebreak hidden-folded">
                        <span class="opacity-75">Copyright &copy; 2015</span> <strong>CLAPTER.RU</strong>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block lastblock %}
    {{ parent() }}
    <script src="../../assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../assets/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="../../assets/js/libs/spin.js/spin.min.js"></script>
    <script src="../../assets/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="../../assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="../../assets/js/libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../../assets/js/libs/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="../../assets/js/libs/wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="../../assets/js/libs/dropzone/dropzone.min.js"></script>
    <script src="../../assets/js/core/source/App.js"></script>
    <script src="../../assets/js/core/source/AppNavigation.js"></script>
    <script src="../../assets/js/core/source/AppOffcanvas.js"></script>
    <script src="../../assets/js/core/source/AppCard.js"></script>
    <script src="../../assets/js/core/source/AppForm.js"></script>
    <script src="../../assets/js/core/source/AppNavSearch.js"></script>
    <script src="../../assets/js/core/source/AppVendor.js"></script>
    <script src="../../assets/js/core/demo/Demo.js"></script>
    <script src="../../assets/js/core/demo/DemoFormWizard.js"></script>
{% endblock %}