{% extends "layout/layout.html.twig" %}

{% block content %}
<section>
<div class="section-body">
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-info no-margin">
                    <h4>Информация за 30 дней</h4>
                    <span>Показан телефон:</span> <a href="" style="color: #6B2C8E; font-weight: bold;">{{ phone_clicks_month_count }}</a><br/>
                    <span>Показано позиций:</span> <a href=""
                                                      style="color: #6B2C8E; font-weight: bold;">{{ search_clicks_month_count }}</a><br/>
                    <span>Добавлено в избранное:</span> <a href=""
                                                           style="color: #6B2C8E; font-weight: bold;">{{ fav_clicks_month_count }}</a><br/>
                    <span>Добавлено в корзину:</span> <a href=""
                                                         style="color: #6B2C8E; font-weight: bold;">{{ zakaz_month_count }}</a>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-warning no-margin">
                    <h4>Публикации</h4>
                    <span>Опубликовано позиций:</span> <a href=""
                                                          style="color: #495DA8; font-weight: bold;">{{ public_position }}</a><br/>
                    <span>Заблокированные позиции:</span> <a href=""
                                                             style="color: #495DA8; font-weight: bold;">{{ tovar_not_moderate }}</a><br/>
                    <span>Опубликованные объявления:</span> <a href=""
                                                               style="color: #495DA8; font-weight: bold;">250</a><br/>
                    <span>Заблокированные объявлений:</span> <a href=""
                                                                style="color: #495DA8; font-weight: bold;">458</a><br/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-danger no-margin">
                    <h4>Рентабельность</h4>
                    <span>Оформленные заказы:</span> <a href=""
                                                        style="color: #1B71B7; font-weight: bold;">{{ zakaz_month_count }}</a><br/>
                    <span>Обработанные запросы:</span> <a href=""
                                                          style="color: #1B71B7; font-weight: bold;">1552</a><br/>
                    <span>Востребованные позиции:</span> <a href=""
                                                            style="color: #1B71B7; font-weight: bold;">{{ fav_clicks_month_count }}</a><br/>
                    <span>Ср. позиция среди конкурентов:</span> <a href=""
                                                                   style="color: #1B71B7; font-weight: bold;">2</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-success no-margin">
                    <h4>Конкуренция</h4>
                    <span>Обход по ценовой политике:</span> <a href=""
                                                               style="color: #0095D8; font-weight: bold;">2</a><br/>
                    <span>Обход по надежности:</span> <a href=""
                                                         style="color: #0095D8; font-weight: bold;">3</a><br/>
                    <span>Обход по активности:</span> <a href=""
                                                         style="color: #0095D8; font-weight: bold;">6</a><br/>
                    <span>Рейтинг надежности:</span> <a href=""
                                                        style="color: green; font-weight: bold;">8/10</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-head">
                <header>Мои прайс-листы</header>
                <div class="tools">
                    <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                    <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
            <div class="card-body">
                <!--<div class="card-head">
                    <header>Опубликованные объявления</header>
                </div>-->
                <div class="btn-group">
                    <button type="button" class="btn ink-reaction btn-success"
                            onclick="javascript:window.location='/../price_add_fr.php'">
                        Добавить
                    </button>
                    <button type="button" class="btn ink-reaction btn-success dropdown-toggle"
                            data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                    <form class="navbar-search" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="headerSearch"
                                   placeholder="Поиск">
                        </div>
                        <button type="submit" class="btn btn-icon-toggle ink-reaction"><i
                                class="fa fa-search"></i></button>
                    </form>
                </div>

                <table class="table table-hover">

                </table>
                {{ result_tab1|raw }}<br>
                {{ result_tab4|raw }}<br>
            </div>
        </div>
    </div>
</div>
</div>
</section>
{% endblock %}
    {% block lastblock %}
        {{ parent() }}
{#<script src="/static/js/libs/jquery/jquery-1.11.2.min.js"></script>#}
{#<script src="/static/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>#}
{#<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>#}
{#<script src="/static/js/libs/spin.js/spin.min.js"></script>#}
{#<script src="/static/js/libs/autosize/jquery.autosize.min.js"></script>#}
{#<script src="/static/js/libs/moment/moment.min.js"></script>#}
{#<script src="/static/js/libs/flot/jquery.flot.min.js"></script>#}
{#<script src="/static/js/libs/flot/jquery.flot.time.min.js"></script>#}
{#<script src="/static/js/libs/flot/jquery.flot.resize.min.js"></script>#}
{#<script src="/static/js/libs/flot/jquery.flot.orderBars.js"></script>#}
{#<script src="/static/js/libs/flot/jquery.flot.pie.js"></script>#}
{#<script src="/static/js/libs/flot/curvedLines.js"></script>#}
{#<script src="/static/js/libs/jquery-knob/jquery.knob.min.js"></script>#}
{#<script src="/static/js/libs/sparkline/jquery.sparkline.min.js"></script>#}
{#<script src="/static/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>#}
{#<script src="/static/js/libs/d3/d3.min.js"></script>#}
{#<script src="/static/js/libs/d3/d3.v3.js"></script>#}
{#<script src="/static/js/libs/rickshaw/rickshaw.min.js"></script>#}
{#<script src="/static/js/core/source/App.js"></script>#}
{#<script src="/static/js/core/source/AppNavigation.js"></script>#}
{#<script src="/static/js/core/source/AppOffcanvas.js"></script>#}
{#<script src="/static/js/core/source/AppCard.js"></script>#}
{#<script src="/static/js/core/source/AppForm.js"></script>#}
{#<script src="/static/js/core/source/AppNavSearch.js"></script>#}
{#<script src="/static/js/core/source/AppVendor.js"></script>#}
{#<script src="/static/js/core/demo/Demo.js"></script>#}
{#<script src="/static/js/core/demo/DemoDashboard.js"></script>#}
{#{% endblock %}#}
<script>
    function ajaxSaleCompletedClick(obj, id) {
        var param_str = "id=".concat(id);
        $.ajax({
            type: "POST",
            url: '../ajax/sale_completed.php',
            data: param_str, // serializes the form's elements.
            error: function(jqXHR, textStatus, errorThrown) {
                alert("Error happens! Status: "+textStatus);
            },
            success: function(data)
            {
                alert(data); // show response from the php script.
                Xcrud.reload();
            }
        });
        return false; // avoid to execute the actual submit of the form.
    };
</script>
    {% endblock %}
{% block footer %}
{% endblock %}