{% extends "layout/layout.html.twig" %}
{% block content %}
    {{ col_add }}
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Добавить"/>
    </form>
{% endblock %}