{% extends "layout/base-layout.html.twig" %}

{% block content %}
<h1>Error happens!</h1>
<p><em>{{ message }}</em></p>
{% if backtrace %}
<p>
    File: {{ file }} Line: {{ line }}
</p>
<pre>
    {{ backtrace }}
</pre>
{% endif %}
<div style="text-align: center"><a href="/">Home</a></div>
{% endblock %}