{% extends "layout/layout.html.twig" %}

{% block title %}Error{% endblock %}

{% block extrascripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
    if (history.length > 0) {
        $('#exception-container').append("<button onclick='history.go(-1)'>{{ w[515] }}</button>");
    }
});
</script>
{% endblock %}

{% block content %}
<div id="exception-container" style="padding: 1em">
<h2>{{ block('title') }}</h2>
<p>
{{ exception.message }}
</p>
<br>
{% block actions %}
    <a target="_top" class='button button-pink' href='{{ siteurl("/") }}'>Home</a>
{% endblock %}
</div>
{% endblock %}