{% extends "layout/layout.html.twig" %}

{% block extrastyles %}
    {{ parent() }}
    <link type="text/css" href="/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {{result| raw}}
            <div class="head clear">
                <ul class="top-links-box right">
                    <li>
                        <div class="top-links grey login">
                            <a class="btn btn-link btn-block" data-reveal-id="login"><span>Опубликовать прайс-лист</span></a>
                        </div>
                    </li>
                    <li>
                        <div class="top-links grey registration">
                            <a class="btn btn-link btn-block" data-reveal-id="login"><span>Разместить свои объявления</span></a>
                        </div>
                    </li>
                </ul>

                <ul class="top-links-box left">
                    <li>
                        <div class="top-links purple document">
                            <a class="btn btn-link btn-block" href="/request_vin.php"><span>Запрос по VIN коду</span></a>
                        </div>
                    </li>
                    <li>
                        <div class="top-links purple price">
                            <a class="btn btn-link btn-block" href="/catalog.php"><span>Поиск запчастей по каталогу</span></a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="body">

                <div style="padding:275px 0 0;"></div>

                <div class="search-box">
                    <form method="get" action="search_result_fr.php">
                        <div class="textboxsearch">
                            <input id="search" class="search" type="text" name="search" value="" autocomplete="off" placeholder="Номер или наименование запчасти" required>
                            <button id="btn-search" class="btn-search"><span>Найти</span></button>
                        </div>

                        <div class="filter-box">
                            <input class="styler" id="MagBase" type="radio" name="filter" value="1" checked>
                            <label class="filter-item" for="MagBase"><i></i>Поиск по базе магазинов</label>

                            <input class="styler" id="RazBase" type="radio" name="filter" value="2">
                            <label class="filter-item" for="RazBase"><i></i>Поиск по базе разборки</label>

                            <input class="styler" id="UseBase" type="radio" name="filter" value="3">
                            <label class="filter-item" for="UseBase"><i></i>Поиск по базе б/у</label>
                            <!--<label class="filter-item">
                                <input class="styler" type="radio" name="filter" value="4">
                                Б/у
                            </label>-->
                            <script>
                                ;$(function(){
                                    $('input.styler').styler();
                                });
                            </script>
                        </div>
                    </form>
                </div>
                <div class="add-box clear">
                    <div class="add-title"><span><a href="" style="text-decoration: none; color: #2196F3;">Оригинальные каталоги</a>&emsp;<a style="color: grey; border-bottom: 1px dashed #EDEDED; font-weight: normal; text-decoration: none;" href="">Общие каталоги (замены/кросы)</a></span></div>


                    <div class="card-head">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#first1">Легковые</a></li>
                            <li><a href="#third1">Грузовые</a></li>
                            <li><a href="#third4">Спецтехника</a></li>
                            <li><a href="#third5">Мототехника</a></li>
                            <li><a href="#third6">Двигатели</a></li>
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        <div class="tab-pane active" id="first1"><p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.</p>
                        </div>
                        <div class="tab-pane" id="second1"><p>Ad ius duis dissentiunt, an sit harum primis persecuti, adipisci tacimates mediocrem sit et. Id illud voluptaria omittantur qui, te affert nostro mel. Cu conceptam vituperata temporibus has.</p>
                        </div>
                        <div class="tab-pane" id="third1"><p>Duo semper accumsan ea, quidam convenire cum cu, oportere maiestatis incorrupte est eu. Soluta audiam timeam ius te, idque gubergren forensibus ad mel, persius urbanitas usu id. Civibus nostrum fabellas mea te, ne pri lucilius iudicabit. Ut cibo semper vituperatoribus vix, cum in error elitr. Vix molestiae intellegat omittantur an, nam cu modo ullum scriptorem.</p>
                            <p>Quod option numquam vel in, et fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Dicant vituperata consequuntur at sea, mazim commodo</p>
                        </div>
                    </div>




                </div>
            </div>
            <div class="footer">
                <div class="column-box">
                    <div class="column">
                        <h3 class="blue"><a href="">Новости</a></h3>
                        <ul>
                            <li>
                                <a href="#">Скидки на запчасти BMW</a>
                            </li>
                            <li>
                                <a href="#">Новый раздел сайта</a>
                            </li>
                            <li>
                                <a href="#">50% на амортизаторы Kayaba</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <h3 class="green"><a href="">Информация о сайте</a></h3>
                        <ul>
                            <li>
                                <a href="#">Размещение рекламы</a>
                            </li>
                            <li>
                                <a href="#">Автосалонам</a>
                            </li>
                            <li>
                                <a href="#">Информеры</a>
                            </li>
                            <li>
                                <a href="#">Обратная связь</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="agreement()">Пользовательское соглашение</a>
                            </li>
                            <li>
                                <a href="#">Использование материалов сайта</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <h3 class="purple"><a href="">Разделы сайта</a></h3>
                        <ul>
                            <a href="#">
                                <li>Поиск</li>
                            </a>
                            <li>
                                <a href="#">Поиск автозапчастей</a>
                            </li>
                            <li>
                                <a href="#">Поиск мотозапчастей</a>
                            </li>
                            <li>
                                <a href="#">Запрос ремонта</a>
                            </li>
                            <li>
                                <a href="#">Магазины запчастей</a>
                            </li>
                            <li>
                                <a href="#">Как работать с сайтом</a>
                            </li>
                            <li>
                                <a href="#">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="bottom">
                    <div class="copy">&copy; 2014 Clapter.ru</div>

                    <ul class="soc">
                        <li>
                            <a class="fb" href="#" target="_blank" title="Facebook"></a>
                        </li>
                        <li>
                            <a class="tw" href="#" target="_blank" title="Tweeter"></a>
                        </li>
                        <li>
                            <a class="in" href="#" target="_blank" title="Linkedin"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div id="menubar" class="menubar-inverse home-bg">
            <div class="menubar-fixed-panel">
                <div>
                    <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar"
                       href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="menubar-scroll-panel side-menu">
                <ul id="main-menu" class="gui-controls">
                    <li>
                        <a href="/index.php" title="" class="active">
                            <div class="gui-icon"><i class="fa fa-search"></i></div>
                            <span class="title no-wrap">Поиск запчастей</span>
                        </a>
                    </li>
                    <li>
                        <a href="/catalog.php" title="">
                            <div class="gui-icon"><i class="fa fa-leanpub"></i></div>
                            <span class="title no-wrap">Каталоги</span>
                        </a>
                    </li>
                    <li>
                        <a href="/request_vin.php" title="">
                            <div class="gui-icon"><i class="fa fa-cogs"></i></div>
                            <span class="title no-wrap">Биржа запросов</span>
                        </a>
                    </li>
                    <li>
                        <a href="/forms.php" title="">
                            <div class="gui-icon"><i class="glyphicon glyphicon-barcode"></i></div>
                            <span class="title no-wrap">VIN Декодер</span>
                        </a>
                    </li>
                    <li>
                        <a href="/request_vin.php" title="">
                            <div class="gui-icon"><i class="fa fa-newspaper-o"></i></div>
                            <span class="title no-wrap">Новостной портал</span>
                        </a>
                    </li>
                    <li>
                        <a href="/help.php" title="">
                            <div class="gui-icon"><i class="md md-forum"></i></div>
                            <span class="title no-wrap">Форум</span>
                        </a>
                    </li>
                    <li>
                        <a href="/feedback.php" title="">
                            <div class="gui-icon"><i class="md md-help"></i></div>
                            <span class="title no-wrap">Помощь</span>
                        </a>
                    </li>

                </ul>
                <div class="menubar-foot-panel">
                    <small class="no-linebreak hidden-folded">
                        <span class="opacity-75" style="border-top: 1px solid #58226e;">Copyright &copy; 2015 <a href="">www.clapter.ru</a></span>
                    </small>
                </div>
            </div>
        </div>
{% endblock %}
