{% extends "layout/layout.html.twig" %}

{% block content %}
    {% if not loggedin %}
        <a href="/lib/login/auth/login.php">Log In</a>
        <a href="/lib/login/auth/signup.php">Sign Up</a>
    {% else %}
        {{ loggedin.Get('username') }},
        <a href="/lib/login/auth/logout.php">Exit</a><br>
        {{result| raw}}
    {% endif %}
Форма регистрации
{% endblock %}
