{% extends "layout/layout.html.twig" %}

{% block content %}
<form method="post" action="">
    <div class="textboxsearch">
        <input id="search" class="search" type="text" name="search_vin" value="" autocomplete="off" placeholder="Ваш VIN код" required>
        <button id="btn-search" class="btn-search"><span>Найти</span></button>
    </div>
</form>
    Результат поиска
    {{search_vin_result| raw}}
{% endblock %}
