{% extends "layout/layout.html.twig" %}

{% block extrascripts %}
    {{ parent() }}
    <script type="text/javascript" src="js/jquery.ui-slider.js"></script>
{% endblock %}

{% block content %}
    <style type="text/css">
        #buy-form {
            position: fixed;
            top: 50%;
            left: 50%;
            height: 50%;
            width: 50%;
            margin-top: -25%;
            margin-left: -25%;
            z-index: 99999;
        }
        .hidden_value_label {
            display: inline;
        }
        .hidden_value {
            display: none;
        }
        .mouse_hover {
            cursor: pointer;
            color: blue;
        }
        .mouse_hover:hover {
            color: #003F54;
        }
        @font-face { font-family: "Rubl Sign"; src: url(http://www.artlebedev.ru/;-)/ruble.eot); }
        span.rur { font-family: "Rubl Sign"; text-transform: uppercase; // text-transform: none;}
        span.rur span { position: absolute; overflow: hidden; width: .45em; height: 1em; margin: .1ex 0 0 -.55em; // display: none; }
        span.rur span:before { content: '\2013'; }
    </style>
<div class="filters">
        <form action="#" method="post">
            <div class="formCost">
                <label for="minCost">Цена: от</label> <input type="text" id="minCost" value="0">
                <label for="maxCost">до</label> <input type="text" id="maxCost" value="1000">
            </div>
            <div class="sliderCont">
                <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                    <div class="ui-slider-range ui-widget-header" style="left: 0%; width: 100%;"></div>
                    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;">
                    </a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
            </div>
        </form>
    </div>

    <select name="region" onchange="loadCity(this)">
        <option>
            {{ state|raw }}
        </option>

    </select>

    <select name="city">
        <option>Выберите область</option>
    </select>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Результаты поиска</h3>

            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">
                                Tab 1 </a>
                        </li>
                        <li>
                            <a href="#tab_default_2" data-toggle="tab">
                                Tab 2 </a>
                        </li>
                        <li>
                            <a href="#tab_default_3" data-toggle="tab">
                                Tab 3 </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">
                            {{result_search1| raw}}
                        </div>
                        <div class="tab-pane" id="tab_default_2">
   {{result_search1| raw}}
                        </div>
                        <div class="tab-pane" id="tab_default_3">
                            {{result_search2| raw}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="buy-form" style="display: none;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button onclick="hideBuyForm();" type="button" class="close" data-dismiss="modal"><span aria-hidden="true" title="Закрыть">×</span><span class="sr-only">Закрыть</span></button>
                        <h4 class="modal-title" id="myModalLabel">Заказать товар</h4>
                    </div>
                    <div class="modal-body" id="ajax-data">
                    </div>
                    <div class="modal-footer">
                        <button onclick="hideBuyForm();" type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
{% endblock %}
{% block lastblock %}
    {{ parent() }}
    <script>
        function loadCity(select)
        {
            var citySelect = $('select[name="city"]');

            // послыаем AJAX запрос, который вернёт список городов для выбранной области
            $.getJSON('/ajax/get_city.php', {action:'getCity', region:select.value}, function(cityList){
                citySelect.html(''); // очищаем список городов

                // заполняем список городов новыми пришедшими данными
                console.log(cityList);
                $.each(cityList, function(i){
                    citySelect.append('<option value="' + i + '">' + this + '</option>');
                });
            });
        }

        $(document).ready(function() {
            jQuery("#slider").slider({
                min: 0,
                max: 1000,
                values: [0,1000],
                range: true,
                stop: function(event, ui) {
                    jQuery("input#minCost").val(jQuery("#slider").slider("values",0));
                    jQuery("input#maxCost").val(jQuery("#slider").slider("values",1));
                },
                slide: function(event, ui){
                    jQuery("input#minCost").val(jQuery("#slider").slider("values",0));
                    jQuery("input#maxCost").val(jQuery("#slider").slider("values",1));
                }
            });


            jQuery("input#minCost").change(function(){
                var value1=jQuery("input#minCost").val();
                var value2=jQuery("input#maxCost").val();

                if(parseInt(value1) > parseInt(value2)){
                    value1 = value2;
                    jQuery("input#minCost").val(value1);
                }
                jQuery("#slider").slider("values",0,value1);
            });


            jQuery("input#maxCost").change(function(){
                var value1=jQuery("input#minCost").val();
                var value2=jQuery("input#maxCost").val();

                if (value2 > 1000) { value2 = 1000; jQuery("input#maxCost").val(1000)}

                if(parseInt(value1) > parseInt(value2)){
                    value2 = value1;
                    jQuery("input#maxCost").val(value2);
                }
                jQuery("#slider").slider("values",1,value2);
            });
        });
    </script>

            <script type="text/javascript">
            waitloadingDiv = "<div class='waitingdiv' style='text-align: center'><img src='/images/ajax-loader.gif' alt='Подождите, идет загрузка'> Подождите, идет загрузка</div>";

            function showWaiting() {
            $('#ajax-data').html(waitloadingDiv);
            }

            function loadBuyFormData(brand, artikle, id_user, price,id_tovar) {
            var param_str = "brand=".concat(encodeURIComponent(brand)).concat("&artikle=")
            .concat(encodeURIComponent(artikle)).concat("&user_id=").concat(id_user).concat("&price=").concat(price).concat("&id_tovar=").concat(id_tovar);
            $.ajax({
            url: '/ajax/get_buy_form.php',
            data: param_str,
            cache: false,
            dataType: 'text',
            error: function(jqXHR, textStatus, errorThrown) {
            alert("Error happens! Status: "+textStatus);
            },
            success: function(data, textStatus, jqXHR) {
            $('#ajax-data').html(data);
            }
            });
            }

            function hideBuyForm() {
            $('#buy-form').removeClass('active').hide();
            }

            function ajaxShowPhoneAndSaveClick(obj, brand, artikle, id_user) {
            $(obj).find('.hidden_value_label').hide();
            $(obj).find('.hidden_value').show();
            $(obj).unbind().off();

            var param_str = "brand=".concat(encodeURIComponent(brand)).concat("&artikle=")
            .concat(encodeURIComponent(artikle)).concat("&user_id=").concat(id_user);
            $.ajax({
            url: '/ajax/save_phone_click.php',
            data: param_str,
            cache: false,
            dataType: 'json',
            type: "POST",
            error: function(jqXHR, textStatus, errorThrown) {
            alert("Error happens! Status: "+textStatus);
            },
            success: function(data, textStatus, jqXHR) {
            if (data != "OK") {
            alert("Error happens: "+data);
            } else {
            // do nothing
            }
            }
            });

            return false;
            }
            //вызов формы о продавце***
            function loadInfoUser(brand, artikle, id_user) {
            var param_str = "brand=".concat(encodeURIComponent(brand)).concat("&artikle=")
            .concat(encodeURIComponent(artikle)).concat("&user_id=").concat(id_user);
            $.ajax({
            url: '/ajax/get_userinfo_form.php',
            data: param_str,
            cache: false,
            dataType: 'text',
            error: function(jqXHR, textStatus, errorThrown) {
            alert("Error happens! Status: "+textStatus);
            },
            success: function(data, textStatus, jqXHR) {
            $('#ajax-data').html(data);
            }
            });
            }
            function ajaxShowUserInfo(brand, artikle, id_user) {
            showWaiting();
            loadInfoUser(brand, artikle, id_user);
            $('#usrinfo_frm').addClass('active').show();
            }
            //конец формы о продавце***

            function ajaxShowBuyForm(brand, artikle, id_user, price,id_tovar) {
            showWaiting();
            loadBuyFormData(brand, artikle, id_user, price,id_tovar);
            $('#buy-form').addClass('active').show();
            }

            function ajaxFavoriteSaveClick(obj, id_user, id_tovar) {
            $(obj).find('i.glyphicon-star-empty').removeClass('glyphicon-star-empty').addClass('glyphicon-star');
            $(obj).unbind().off();
            $(obj).removeAttr('onclick');

            var param_str = "user_id=".concat(id_user).concat("&id_tovar=").concat(id_tovar);
            $.ajax({
            url: '/ajax/save_fav_click.php',
            data: param_str,
            cache: false,
            dataType: 'json',
            type: "POST",
            error: function(jqXHR, textStatus, errorThrown) {
            alert("Error happens! Status: "+textStatus);
            },
            success: function(data, textStatus, jqXHR) {
            if (data != "OK") {
            alert("Error happens: "+data);
            } else {
            // do nothing
            }
            }
            });

            return false;
            }
            </script>

{% endblock %}