<!DOCTYPE html>
<html lang="en">
{#<!--[if lt IE 7 ]><html class="ie ie6"> <![endif]-->#}
{#<!--[if IE 7 ]><html class="ie ie7"> <![endif]-->#}
{#<!--[if IE 8 ]><html class="ie ie8"> <![endif]-->#}
{#<!--[if gte IE 9]><html class="ie9"> <![endif]-->#}
{#<!--[if !(IE)]><!--><html> <!--<![endif]-->#}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% block extrahead %}{% endblock %}
<title>{% block title %}{% endblock %}</title>
{% block keywords %}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock %}
<meta name="language" content="ru">
{% block robots %}
<meta name="robots" content="index, follow">
{% endblock %}
{% block extrastyles %}{% endblock %}
{% block extrascripts %}{% endblock %}
</head>

<body class="{{ body_class|default('menubar-hoverable header-fixed menubar-pin') }}">
    {% block header %}{% endblock %}
    <div id="base">
        {% block rightmenu %}{% endblock %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block leftmenu %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
    {% block lastblock %}{% endblock %}
</body>
</html>