<div class="footercontainer">
    <div id="footer" style="text-align: center;">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <span class="opacity-75" style="border-top: 1px solid #58226e;">Copyright &copy; 2015 <a href="">www.clapter.ru</a></span>
        </div>
    </div>
</div>

