<header id="header">
    <div class="headerbar">
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="">
                            <img src="/static/img/logo.png">
                        </a>
                    </div>
                </li>
                <li>
                    <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
            {% if loggedin %}
            <div class="collapsed-top-menu">
                <a class="btn btn-raised ink-reaction btn-default-bright pull-right" href="#offcanvas-top-menu"
                   data-toggle="offcanvas">
                    Меню
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            {% endif %}
        </div>

        {% if not loggedin %}
            {% include("layout/topmenu-common.html.twig") %}
        {% else %}
            {% if loggedin.isAdmin() %}
                {% include("layout/topmenu-admin.html.twig") %}
            {% else %}
                {% if loggedin.Get('user_role') == constant('CLUserRole::U_BUYER') %}
                    {% include("layout/topmenu-buyer.html.twig") %}
                {% endif %}
                {% if loggedin.Get('user_role') == constant('CLUserRole::U_SELLER') %}
                    {% include("layout/topmenu-seller.html.twig") %}
                {% endif %}
                {% if loggedin.Get('user_role') == constant('CLUserRole::U_COMPANY') %}
                    {% include("layout/topmenu-company.html.twig") %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</header>

