{% extends "layout/base-layout.html.twig" %}

{% block extrahead %}
<link rel="shortcut icon" href="/images/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block extrastyles %}
    {#<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">#}
    {#<link rel="stylesheet" href="/lib/login/assets/css/premiumlogin.min.css" />#}
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
    <link type="text/css" rel="stylesheet" href="/static/css/lk/bootstrap.css?12042015119" />
    <link type="text/css" rel="stylesheet" href="/static/css/lk/packed.css?12042015119" />
    <link type="text/css" rel="stylesheet" href="/static/css/lk/font-awesome.min.css?12042015119" />
    <link type="text/css" rel="stylesheet" href="/static/css/lk/material-design-iconic-font.min.css?12042015119" />
    <link type="text/css" rel="stylesheet" href="/static/css/lk/libs/rickshaw/rickshaw.css?12042015119" />
    <link type="text/css" rel="stylesheet" href="/static/css/lk/libs/morris/morris.core.css?12042015119" />
    <style type="text/css">
        ul.header-nav.top-menu-lk-client li a {
            border-bottom: 1px solid #EDEDED;
        }
    </style>
{% endblock %}

{% block extrascripts %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="/static/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    {#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}
    {#<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>#}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {#<script src="/js/bootstrap.min.js"></script>#}
    {#<script src="/js/core/main.min.js"></script>#}
    <script src="/static/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/core/source/main.min.js"></script>

    <script type="text/javascript">{{ PLS_config() | raw }}</script>
    {#<script type="text/template" id="recaptcha_template">#}
        {#<div id="PLS_recaptcha_widget" class="panel medium-12 columns">#}
            {#<div class="captcha_img" id="recaptcha_image"></div>#}
            {#<div class="captcha_btn">#}
                {#<a class="link" href="javascript:Recaptcha.reload()">Reload</a><span class="orspan">-</span>#}
                {#<a class="recaptcha_only_if_image link" href="javascript:Recaptcha.switch_type('audio')">Listen</a>#}
                {#<a class="recaptcha_only_if_audio link" href="javascript:Recaptcha.switch_type('image')">Image</a>#}
                {#<span class="orspan">-</span>#}
                {#<a class="link" href="javascript:Recaptcha.showhelp()">Help</a>#}
            {#</div>#}
            {#<input class="captcha_input" type="text" id="recaptcha_response_field" name="recaptcha_response_field" placeholder="CAPTCHA">#}
        {#</div></script>#}
    <script type="text/javascript" src="/lib/login/assets/js/premiumlogin.min.js"></script>
{% endblock %}

{% block title %}{% if title %}{{ title }}{% else %}Clapter.ru{% endif %}{% endblock %}

{% block leftmenu %}
    {% if not loggedin %}
        {% include("layout/leftmenu-common.html.twig") %}
    {% else %}
        {% if loggedin.isAdmin() %}
            {% include("layout/leftmenu-admin.html.twig") %}
        {% else %}
            {% if loggedin.Get('user_role') == constant('CLUserRole::U_BUYER') %}
                {% include("layout/leftmenu-buyer.html.twig") %}
            {% endif %}
            {% if loggedin.Get('user_role') == constant('CLUserRole::U_SELLER') %}
                {% include("layout/leftmenu-seller.html.twig") %}
            {% endif %}
            {% if loggedin.Get('user_role') == constant('CLUserRole::U_COMPANY') %}
                {% include("layout/leftmenu-company.html.twig") %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block rightmenu %}
    {% if not loggedin %}
        {% include("layout/rigthmenu-common.html.twig") %}
    {% else %}
        {% if loggedin.isAdmin() %}
            {% include("layout/rigthmenu-admin.html.twig") %}
        {% else %}
            {% if loggedin.Get('user_role') == constant('CLUserRole::U_BUYER') %}
                {% include("layout/rigthmenu-buyer.html.twig") %}
            {% endif %}
            {% if loggedin.Get('user_role') == constant('CLUserRole::U_SELLER') %}
                {% include("layout/rigthmenu-seller.html.twig") %}
            {% endif %}
            {% if loggedin.Get('user_role') == constant('CLUserRole::U_COMPANY') %}
                {% include("layout/rigthmenu-company.html.twig") %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block header %}
    {% include("layout/header.html.twig") %}
{% endblock %}

{% block footer %}
    {% include("layout/footer.html.twig") %}
{% endblock %}

{% block lastblock %}
    {% include("embed/regmodals.html.twig") %}
{% endblock %}
