<div id="menubar" class="menubar-inverse home-bg">
    <div class="menubar-fixed-panel">
        <div>
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar"
               href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="menubar-scroll-panel side-menu">
        <ul id="main-menu" class="gui-controls">
            <li>
                <a href="/index.php" title="">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title no-wrap">Поиск запчастей</span>
                </a>
            </li>
            <li>
                <a href="/catalog.php" title="">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title no-wrap">Каталоги</span>
                </a>
            </li>
            <li>
                <a href="/request_vin.php" title="">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title no-wrap">Биржа запросов</span>
                </a>
            </li>
            <li>
                <a href="/search_to_vin_fr.php" title="">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title no-wrap">VIN Декодер</span>
                </a>
            </li>
            <li>
                <a href="/request_vin.php" title="">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title no-wrap">Новостной портал</span>
                </a>
            </li>
            <li>
                <a href="/help.php" title="">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title no-wrap">Форум</span>
                </a>
            </li>
            <li>
                <a href="/feedback.php" title="">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title no-wrap">Помощь</span>
                </a>
            </li>

        </ul>
        <div class="menubar-foot-panel">
            <small class="no-linebreak hidden-folded">
                <span class="opacity-75" style="border-top: 1px solid #58226e;">Copyright &copy; 2015 <a href="">www.clapter.ru</a></span>
            </small>
        </div>
    </div>
</div>
{#<div class="sidebar-nav">#}
    {#<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="margin-bottom: 5px; display: block; position: static;">#}
        {#<li><a href="#">Поиск запчастей</a></li>#}
        {#<li><a href="#">Каталоги</a></li>#}
        {#<li><a href="#">Запросы</a></li>#}
        {#<li><a href="#">VIN Декодер</a></li>#}
        {#<li><a href="#">Новостной портал</a></li>#}
        {#<li><a href="#">Форум</a></li>#}
        {#<li><a href="#">Помощь</a></li>#}
        {#{% if loggedin %}#}
        {#<li class="divider"></li>#}
        {#<li><a href="/lib/login/auth/logout.php">Выход</a></li>#}
        {#{% endif %}#}
    {#</ul>#}
{#</div>#}