<div id="menubar" class="menubar-inverse animate">
    <div class="menubar-fixed-panel">
        <div>
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar"
               href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="expanded">
            <a href="">
                <span class="text-lg text-bold text-primary ">Панель управления - Магазин</span>
            </a>
        </div>
    </div>
    <div class="menubar-scroll-panel">
        <ul id="main-menu" class="gui-controls">
            <li>
                <a href="/workspace/index.php" class="active">
                    <div class="gui-icon"><i class="md md-home"></i></div>
                    <span class="title">Рабочий стол</span>
                </a>
            </li>
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Публикации</span>
                </a>

                <ul>
                    <li><a href="../../html/company/myprice-list.html"><span class="title">Прайс-листы</span></a>
                    </li>
                    <li><a href="../../html/company/myads.html"><span class="title">Объявления</span></a></li>
                </ul>
            </li>
            <li>
                <a href="../../html/company/mybrands.html">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Бренды</span>
                </a>
            </li>
            <li>
                <a href="../../html/company/myservices.html">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Мои услуги</span>
                </a>
            </li>
            <li>
                <a href="../../html/company/statistics.html">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Статистика</span>
                </a>
            </li>
            <li>
                <a href="../../html/company/reviews.html">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Отзывы</span>
                </a>
            </li>
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Документооборот</span>
                </a>
                <ul>
                    <li><a href="../../html/company/doc_list-invoice.html"><span class="title">Счета</span></a></li>
                    <li><a href="../../html/company/doc_list_Act.html"><span class="title">Акты</span></a></li>
                </ul>
            </li>
            <li>
                <a href="../../html/company/profile.html">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Ваши данные</span>
                </a>
            </li>
            <li>
                <a href="../../html/company/tickets.html">
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Поддержка</span>
                </a>
            </li>
        </ul>
        <div class="menubar-foot-panel">
            <small class="no-linebreak hidden-folded">
                <span class="opacity-75" style="border-top: 1px solid #58226e;">Copyright &copy; 2015 <a href="">www.clapter.ru</a></span>
            </small>
        </div>
    </div>
</div>
