<div id="menubar" class="menubar-inverse ">
    <div class="menubar-fixed-panel">
        <div>
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="expanded">
            <a href="">
                <span class="text-lg text-bold text-primary ">Панель управления - Пользователя</span>
            </a>
        </div>
    </div>
    <div class="menubar-scroll-panel">
        <ul id="main-menu" class="gui-controls">
            <li class="active expanded expanding">
                <a href="/workspace/index.php" class="active">
                    <div class="gui-icon"><i class="md md-home"></i></div>
                    <span class="title">Рабочий стол</span>
                </a>
            </li>
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Запросы</span>
                </a>

                <ul>
                    <li><a><span class="title">Мои запросы</span></a></li>
                    <li><a href="../../html/user/offers.html"><span class="title">Предложение продавцов</span></a></li>
                    <li><a><span class="title">Добавить запрос</span></a></li>
                </ul>
            </li>
            <li>
                <a>
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Предзаказы</span>
                </a>
            </li>
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Мои машины</span>
                </a>
                <ul>
                    <li><a><span class="title">Все</span></a></li>
                    <li><a><span class="title">Добавить машину</span></a></li>
                </ul>
            </li>
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Мои объявления</span>
                </a>
                <ul>
                    <li><a><span class="title">Все</span></a></li>
                    <li><a><span class="title">Опубликованные</span></a></li>
                    <li><a><span class="title">Снятые с публикации</span></a></li>
                    <li><a><span class="title">Добавить новое</span></a></li>
                </ul>
            </li>
            <li>
                <a>
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Профиль</span>
                </a>
            </li>
            <li>
                <a>
                    <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                    <span class="title">Поддержка</span>
                </a>
            </li>
        </ul>
        <div class="menubar-foot-panel">
            <small class="no-linebreak hidden-folded">
                <span class="opacity-75">Copyright © 2015</span> <strong>CLAPTER.RU</strong>
            </small>
        </div>
    </div>
</div>
