<div class="headerbar-right login-buttons">
    <a href="" style="float: left; margin-top: 19px;">Перейди на сайт <i class="md md-open-in-new"></i></a>
    <ul class="header-nav header-nav-profile">
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                <img src="/static/img/avatar1.jpg?1403934956" alt="" />
								<span class="profile-info">
									Иванов Игорь Николаевич
								</span>
            </a>
            <ul class="dropdown-menu animation-dock">
                <li><a href="">Сменить пароль</a></li>
                <li><a href="">Настройки</a></li>
                <li class="divider"></li>
                <li><a href="/lib/login/auth/logout.php"><i class="fa fa-fw fa-power-off text-danger"></i> Выход</a></li>
            </ul>
        </li>
    </ul>
</div>
<ul class="header-nav top-menu-lk-client clearfix">
    <li><a href="#">Предложение продавцов</a></li>
    <li><a href="#">Мое избранное</a></li>
    <li><a href="#">Корзина</a></li>
</ul>
