<div class="headerbar-right login-buttons">
    <a href="http://clapter.ru" target="_blank" style="float: left; margin-top: 19px;">Перейди на сайт <i
            class="md md-open-in-new"></i></a>
    <ul class="header-nav header-nav-profile">
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                <img src="../../static/img/avatar1.jpg?1403934956" alt=""/>
								<span class="profile-info">
									ООО "АвтоЛидер24"
									<small>Магазин</small>
								</span>
            </a>
            <ul class="dropdown-menu animation-dock">
                <li><a href="../../html/company/rating.html">Надежность: <span style="color: green;">8/10</span></a>
                </li>
                <li><a href="../../html/company/myprofile_user.html">Настройки пользователя</a></li>
                <li><a href="../../html/company/settings-company.html">Настройки компании</a></li>
                <li><a href="../../html/company/promo-page.html">Промо страница</a></li>
                <li class="divider"></li>
                <li><a href="/lib/login/auth/logout.php"><i class="fa fa-fw fa-power-off text-danger"></i> Выход</a></li>
            </ul>
        </li>
    </ul>
</div>
<ul class="header-nav top-menu-lk-client clearfix">
    <li style="margin-left:16px;">
        <a href="../../html/company/requests-to-sellers.html">
            <i style="border-bottom: 1px solid #EDEDED">Запросы продавцам</i><sup
                class="badge style-danger">12</sup>
        </a>
    </li>
    <li>
        <a href="../../html/company/orders.html">
            <i style="border-bottom: 1px solid #EDEDED">Заказы</i><sup class="badge style-danger">4</sup>
        </a>
    </li>
    <li>
        <a href="../../html/company/balance.html">
            <i style="border-bottom: 1px solid #EDEDED">Управление счетом</i>
        </a>
    </li>
    <li>
        Публикация не активна:&nbsp;
        <a href="../../html/company/selected-tariff.html" class="choose">
            <i style="border-bottom: 1px solid #EDEDED">выберите тариф</i>
        </a>
        <!--<span style="color: green;"><b>89</b></span> дней <span style="font-size: 11px;">(до 25.05.2015)</span>-->
    </li>
</ul>
