<div class="headerbar-right login-buttons">
</div>
<ul class="header-nav top-menu-lk-client clearfix">
    <li><a href="#">Тикет запросы</a></li>
    <li><a href="#">Транзакции</a></li>
    <li><a href="#">Обратная связь</a></li>
</ul>
