<div class="headerbar-right login-buttons">
    <button type="button" class="btn btn-default-bright" data-toggle="modal" data-target="#login">Вход</button>
    <button type="button" class="btn btn-default-bright" data-toggle="modal" data-target="#signup">Регистрация</button>
</div>
<ul class="header-nav top-menu-lk-client clearfix">
    <li><a href="/archive.php">Владельцам автотранспорта</a></li>
    <li><a href="/catalog.php">Магазинам запчастей</a></li>
    <li><a href="/request_vin.php">Сервисным центрам</a></li>
    <li><a href="/help.php">Авторазборкам</a></li>
</ul>
